*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "dyno_sans";
	background-color:#404040;
}

body {
	margin: 0;
}

header {
	position: sticky;
	z-index: 1;
	top: -80px;
	background-color: #505050;
}

.nav_top {
	display: flex;
	padding: 0 60px 0 10px; 
}

.nav_list {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	background-color: #333333;
	margin: 10px;
	height: 60px;
	text-align: center;
}

.nav_link {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: #00ff0000;
	font-size: 25px;
	text-decoration: none;
	color: white;
}

.name {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: #00ff0000;
	font-size: 25px;
	text-decoration: none;
	color: white;

}

.cube {
	margin: 0 auto;
  	width: 300px;
  	height: 300px;
  	background-color: #e06e6e;
  	border-radius: 3px;
  	text-align: center;
  	vertical-align: center;
}

h2 {
	text-align: center;
	color: #fa3e3e;
}

section{
	height: 100vh;
	width: 100%;
	background-color: #474545;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px #00000010;
	background-color: #505050;
	border-radius: 8px;
	margin-bottom: 20px;
}

.form_group {
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
	color: #e81c1c;
}

.form_group input, .form_group textarea{
	width: 100%;
	padding: 10px;
	font-size: 18px;
	margin-top: 5px;
}

button[type="submit"]{
	width: 100%;
	border: none;
	outline: none;
	padding: 20px;
	font-size: 24px;
	border-radius: 8px;
	font-family: 'Ubuntu';
	color: #e81c1c;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
}

button[type="submit"]:hover{
	background-color: #eb6c67;
}

p {
	font-size: 25px;
	color: #eb6c67;
}

table {
	margin: auto;
}

td{
	text-align: center;
}
